<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StoreCollectsDao">
	<select id="findByUserID" resultType="entity.StoreProducts"
		parameterType="Map">
		EXEC [dbo].[SP_Store_findCollectsByUserID]
		@userID = #{userID},
		@pageIndex = #{pageIndex},
		@pageSize = #{pageSize}
	</select>

	<select id="count" resultType="int" parameterType="int">
		exec SP_Store_findCollectsCountByUserID
		 @userID = #{userID}
	</select>
	
	<select id="add" parameterType="entity.StoreCollects" resultType="int">
	exec [SP_Store_addCollects]
	@productID = #{productID},
	@userID = #{userID}

	</select>
	
	<select id="del"  parameterType="entity.StoreCollects" resultType="int">
	exec [SP_Store_delCollects]
	@productID = #{productID},
	@userID = #{userID}
	</select>
	
	<select id="checkCollectStatus" parameterType="entity.StoreCollects" resultType="int">
	exec [SP_Store_checkCollectStatus]
	@productID = #{productID},
	@userID = #{userID}
	</select>

</mapper>