<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StoreOrderDetailDao">
	<select id="findByOrderID" resultType="entity.StoreOrderDetail">
		SELECT * FROM Store_OrderDetail where orderID = orderID
	</select>

	<select id="add"  parameterType="entity.StoreOrders" >
exec [dbo].[SP_Store_addOrderDetail]
@orderID = #{orderID},
@productID = #{productID},
@productPrice = #{productPrice},
@buyCount = #{buyCount},
@userID = #{userID}
	</select>
	

</mapper>