<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StoreOrdersDao">
	<select id="find" resultType="entity.StoreOrders">
		SELECT * FROM Store_Orders
	</select>


	<select id="addOrderSimple" parameterType="Map" resultType="String">
		EXEC [dbo].[SP_Store_addOrder_simple]
		@userID = #{o.userID},
		@orderConsignee = #{o.orderConsignee},
		@orderAddress = #{o.orderAddress},
		@orderTelephone = #{o.orderTelephone},
		@orderFreight = #{o.orderFreight},
		@rderSumPrice = #{o.orderSumPrice},
		@orderDesc = #{o.orderDesc},
		@pmcID = #{o.pmcID},
		@productID = #{productID},
		@buyCount = #{buyCount}
	</select>

	<select id="addOrder" parameterType="entity.StoreOrders"
		resultType="String">

		EXEC [dbo].[SP_Store_addOrder]
		@userID = #{userID},
		@orderConsignee = #{orderConsignee},
		@orderAddress = #{orderAddress},
		@orderTelephone = #{orderTelephone},
		@orderFreight = #{orderFreight},
		@rderSumPrice = #{orderSumPrice},
		@orderDesc = #{orderDesc},
		@pmcID = #{pmcID}
	</select>

	<select id="updateOrderState" parameterType="entity.StoreOrders"
		resultType="int">
		EXEC [dbo].[SP_Store_updateOrderState]
		@orderID = #{orderID},
		@orderState = #{orderState}
	</select>

</mapper>